.title {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 20px;
}

.panel {
  font-size: 20px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.type {
  border-radius: 8px;
  padding: 20px;
  width: 160px;
  text-align: center;
  background-color: #d3f3ff;
  cursor: pointer;
}
.clicked {
  background-color: #9be4ff;
}

.btn {
  float: right;
  font-size: 20px;
  color: black;
  border-radius: 12px;
  padding: 12px 25px;
  margin-right: 100px;
  height: auto;
  background-color: rgb(255, 230, 132);
  border-color: rgb(255, 230, 132);
}
